@model IEnumerable<ShelterDB.Models.AnimalModel>

<p>
    <a asp-action="CreateAnimal">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalDob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Microchip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalDob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Microchip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalImg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalStatus)
            </td>
            <td>
                    @Html.ActionLink("Edit", "EditAnimal", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "SingleAnimalDetails", new {  id=item.Id  }) |
                    @Html.ActionLink("Delete", "DeleteAnimal", new {  id=item.Id  })
                    
            </td>
        </tr>
}
        <ul class="pagination">

            @{
                for (int x = ViewBag.NumberOfPaginationButtonsBack; x < ViewBag.numberOfPaginationButtons; x++)
                {
                  
                        if (ViewBag.currentPage == x)
                        {
                            <li class="page-item page-item active">
                                @Html.ActionLink(x.ToString(), "AllAnimals", new { page = x, currentPage = x }, new { @class = "page-link" })
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                @Html.ActionLink(x.ToString(), "AllAnimals", new { page = x, currentPage = x }, new { @class = "page-link" })
                            </li>
                        }
                    }
                 



                    }


                    
        </ul>
    </tbody>
</table>
