@model ShelterDB.Models.AllAnimalDetailsModel

<div>
    <h4>AllAnimalDetailsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Breed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalDob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalDob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Microchip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Microchip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VetTreatmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VetTreatmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VetTreatmentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VetTreatmentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateGiven)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateGiven)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
